<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AlbertaIsBurning.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C935396E1CEC31D900A56640</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C93539861CEC31D900A56640</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C93539911CEC31D900A56640</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
